---
import { withBase } from '../lib/site';
---

<footer class="site-footer">
  <div class="site-shell">
    <span>hututu 的博客 · 创建时间 2026-05-03</span>
    <a href={withBase('/writing/')}>写作指南</a>
  </div>
</footer>
