<div class="mascot" aria-label="胡图图风格的原创头像">
  <div class="mascot-ear mascot-ear-left"></div>
  <div class="mascot-ear mascot-ear-right"></div>
  <div class="mascot-face">
    <span class="mascot-eye mascot-eye-left"></span>
    <span class="mascot-eye mascot-eye-right"></span>
    <span class="mascot-nose"></span>
    <span class="mascot-smile"></span>
    <span class="mascot-blush mascot-blush-left"></span>
    <span class="mascot-blush mascot-blush-right"></span>
  </div>
</div>
